section#last
	.container
		h3.last_title Это ваша возможность получить уже сегодня 
			span мини-тренинг, бонусы и возможность 
			| повторить интенсив, имея его записи со 
			span скидкой более 80%
		p.price.price_last
			span 3 000р.
		a.button.button_last(href="https://aleksandrkudryashov1.autoweboffice.ru/?r=ordering/cart/as1&id=2298&clean=true&lg=ru" target="_blank") Забрать за 490р.