section#main
	.container
		#header
			a(href="/", target="_blank")
				img#logo(src="../img/logo.png", alt="Логотип")
			.contacts
				a.tel(href="callto:8-929-568-87-50")
					i.fa.fa-phone(aria-hidden="true")
					span 8-929-568-87-50
				a.tel(href="callto:8-499-346-79-46")
					i.fa.fa-phone(aria-hidden="true")
					span 8-499-346-79-46
				a.skype(href="skype:add?admin-mastervision")
					i.fa.fa-skype(aria-hidden="true")
					span admin-mastervision
				a.email(href="mailto:info@mastervision.su")
					i.fa.fa-envelope(aria-hidden="true")
					span info@mastervision.su
		.pre Только для участников интенсива!
		.row
			.col-md-6.col-sm-6
				.video_wrapper.video_wrapper_main
					iframe(src="https://youtube.com/embed/uBwDQB5Pj9I?rel=0&autoplay=0" allowfullscreen)
			.col-md-6.col-sm-6
				.main_container
					h1.main_title 
						span Мини-тренинг
						| «Как выйти из жертвы и вернуть себе контроль над своей жизнью?»
					p.price По спец цене 
						span 3 000р.
					a.button.button_main(href="" target="_blank") Купить за 490р.
					h2.main_subtitle Скидка действует только до начала интенсива!