section#plan
    .container
        h3.general_title.plan_general_title Программа 
            span мини-тренинга
            | :
        img#plan_img(src="../img/day_3.png", alt="Программа мини-тренинга")
        .plan_container.plan_container_1
            p.plan_container_title
                span 01
            p.plan_container_text Что такое жертвы и тени
        .plan_container.plan_container_2
            p.plan_container_title
                span 02
            p.plan_container_text Основные паттерны жертвы
        .plan_container.plan_container_3
            p.plan_container_title
                span 03
            p.plan_container_text Таблица по 64 генетическим жертвам
        .plan_container.plan_container_4
            p.plan_container_title
                span 04
            p.plan_container_text Классическая модель Карпмана-Берна
        .plan_container.plan_container_5
            p.plan_container_title
                span 05
            p.plan_container_text 4 стратегии по выходу из сценария жертвы
        h4.plan_subtitle Бонусы 
            span в подарок:
        ol.bonuses_list
            li Техника «Кормление внутренних демонов»
            li Техника «Круги отдачи и ресурсирование»