section#second
    .container
        img#second_img(src="../img/day_2.png", alt="Сердца")
        ul.second_list
            li Техники тренинга отлично подходят для проработки тяжелых эмоциональных состояний
            li Работа с жертвой помогает выйти в позицию хозяина жизни и перестать быть жертвой обстоятельств
            li Техники позволяют справляться с любыми жизненными невзгодами, помогают выйти из кризиса и встать на путь процветания и реализации
        .clearfix
        h3.second_title Особенно рекомендуется!
        p Для всех, кто устал чувствовать себя жертвой и хочет вернуть себе контроль над своей жизнью
        h4.second_subtitle Приобретите мини-тренинг 
            span сейчас 
            | и получи записи будущего интенсива 
            span в подарок
        a.button.button_second(href="https://aleksandrkudryashov1.autoweboffice.ru/?r=ordering/cart/as1&id=2298&clean=true&lg=ru" target="_blank") Приобрести мини-тренинг