section#after
	.container
		h3.general_title.after_general_title Вы вернетесь после обучения 
			span другим человеком:
		.row
			.col-md-3.col-sm-3
				.after_container.after_container_1
					.after_container_img.after_container_img_1
						span 01
					p.after_cntainer_text Поймете себя, свои сильные и слабые стороны, особенности и уникальность
			.col-md-3.col-sm-3
				.after_container.after_container_2
					.after_container_img.after_container_img_2
						span 02
					p.after_cntainer_text   Получите ответы на самые волнующие вопросы о вашем месте в мире и предназначении
			.col-md-3.col-sm-3
				.after_container.after_container_3
					.after_container_img.after_container_img_3
						span 03
					p.after_cntainer_text Проработаете темы своей реализации в любви и материальном мире
			.col-md-3.col-sm-3
				.after_container.after_container_4
					.after_container_img.after_container_img_4
						span 04
					p.after_cntainer_text  Узнаете, как раскрыть свой потенциал
		.row
			.col-md-3.col-sm-3
				.after_container.after_container_5
					.after_container_img.after_container_img_5
						span 05
					p.after_cntainer_text Поймете, что значит проживать себя на уровне теней и даров
			.col-md-3.col-sm-3
				.after_container.after_container_6
					.after_container_img.after_container_img_6
						span 06
					p.after_cntainer_text  Узнаете свою уникальную генетическую архитектуру
			.col-md-3.col-sm-3
				.after_container.after_container_7
					.after_container_img.after_container_img_7
						span 07
					p.after_cntainer_text Узнаете и проработаете свою генетическую сексуальную травму
			.col-md-3.col-sm-3
				.after_container.after_container_8
					.after_container_img.after_container_img_8
						span 08
					p.after_cntainer_text Узнаете, не находитесь ли вы в позиции жертвы и если да, то как выйти из этого состояния
		.row
			.col-md-3.col-sm-3.col-md-offset-3.col-sm-offset-3
				.after_container.after_container_9
					.after_container_img.after_container_img_9
						span 09
					p.after_cntainer_text  Проработаете свое предназначению, энергию секса, любви и денег
			.col-md-3.col-sm-3
				.after_container.after_container_10
					.after_container_img.after_container_img_10
						span  10
					p.after_cntainer_text Вернетесь к себе, расслабитесь и успокоитесь в своей уникальности
		h4.after_subtitle И это 
			span бесплатно
			| !
		button(data-toggle="modal" data-target="#myModalForm").button.after_button Воспользоваться возможностью