section#authors
    .container
        h3.general_title.authors_general_title О тренерах
        .row
            .col-md-6.col-sm-5.treners_img
                img#girls_about(src="img/girls_about.png", alt="Вероника Юрина и Анна Ролева")
            .col-md-6.col-sm-7
                .trener.trener_yureva
                    h4.trener_title Вероника Юрина
                    h5.trener_subtitle Проектор 3/5, Крест Чаша Любви
                    ul.trener_list
                        li Профессиональный тренер и преподаватель
                        li Дипломированный психолог
                        li Опыт работы с людьми и консультирования - 10 лет
                        li Обучала такие компании как ТрансНефтьЭнерго, Rambler, HH, Krutoy Media, Hearst Shkulev Media, ПГК, Бин-Банк, Mail Group и многие другие
                .trener.roleva
                    h4.trener_title Анна Ролева
                    h5.trener_subtitle Проектор 3/5, Крест 4х путей
                    ul.trener_list
                        li Автор и ведущая тренигов по предназначению
                        li Сертифицированный регрессолог (погружение в прошлые жизни)
                        li Проводит индивидуальные консультации и обучение по Механике Человека
                        li Лидер и создатель проекта «Cosmos»
section#certs
    .container
        .row
            .col-md-7.col-sm-6
                .certs_container
                    a(href="img/certs/cert_1.jpg" data-fancybox="certs")
                        img(src="img/certs/cert_1_min.png", alt="Сертификат")
                    a(href="img/certs/cert_2.jpg" data-fancybox="certs")
                        img(src="img/certs/cert_2_min.png", alt="Сертификат")
                    a(href="img/certs/cert_3.jpg" data-fancybox="certs")
                        img(src="img/certs/cert_3_min.png", alt="Сертификат")
                    a(href="img/certs/cert_4.jpg" data-fancybox="certs")
                        img(src="img/certs/cert_4_min.png", alt="Сертификат")
            .col-md-5.col-sm-6
                a.button.partner_button(href="https://mastervision.su/roleva-and-yureva-genic-keys/partnership/" target="_blank") Партнерская программа