section#for
	.container
		h3.general_title.for_general_title Вам важно прийти 
			span на интенсив 
			| если:
		img(src="img/for.png", alt="Крартинка")#for_img
		.row
			.col-md-4.col-sm-6
				.for_container.for_container_1
					h4.for_container_title
						span 01
					p.for_container_text
						span Вы не понимаете 
						| кто вы, в чем ваши таланты и предназначение
				.for_container.for_container_2
					h4.for_container_title
						span 02
					p.for_container_text 
						span Не знаете 
						| куда дальше двигаться и к чему стремиться
				.for_container.for_container_3
					h4.for_container_title
						span 03
					p.for_container_text 
						span Не чувствуете 
						| себя, не понимаете, чего вы хотите
				.for_container.for_container_4
					h4.for_container_title
						span 04
					p.for_container_text Чувствуете, что можете больше, но у вас 
						span не получается 
						| реализоваться
				.for_container.for_container_5
					h4.for_container_title
						span 05
					p.for_container_text   Страхи, комплексы, 
						span проблемы с самооценкой
			.col-md-4.col-sm-0
			.col-md-4.col-sm-6
				.for_container.for_container_6
					h4.for_container_title
						span 06
					p.for_container_text  Знаете, чего хотите, но чувствуете фрустрацию и 
						span не верите,
						| что у вас это будет
				.for_container.for_container_7
					h4.for_container_title
						span 07
					p.for_container_text 
						span Не можете 
						| получать удовольствие от любовных и сексуальных отношениях
				.for_container.for_container_8
					h4.for_container_title
						span 08
					p.for_container_text Вы 
						span не любите 
						|и не принимаете себя
				.for_container.for_container_9
					h4.for_container_title
						span 09
					p.for_container_text 
						span Чувствуете нереализованность 
						| в любви и сексе
				.for_container.for_container_10
					h4.for_container_title
						span 10
					p.for_container_text Ваш денежный 
						span потенциал заблокирован