section#mail_section
	.container
		.row
			.col-md-3.col-sm-3
				h3.mail_title Спешите записаться
			.col-md-6.col-sm-6
				h4.mail_subtitle.mail_subtitle_first Записаться через электронную почту
				form(action="https://aleksandrkudryashov1.autoweboffice.ru/?r=personal/newsletter/sub/add&id=3568&lg=ru" method="post" enctype="application/x-www-form-urlencoded" accept-charset="UTF-8" ).form_newsletter.form_newsletter_mail_section
					.form_container
						.email-block
							input( type="hidden" value="1" name="required_fields[email]")
							input(class="mail mail_section_input" name="Contact[email]" type="text" placeholder="Ваш email")
						button(type="submit").button.button_mail записаться
					.clearfix
					p.alert_message Введите почту
					<!--Обязательный параметр. Не удалять и не изменять!-->
					input(type="hidden" value="478" name="Contact[id_newsletter]")
					<!--API код канала рекламы-->
					input(type="hidden" value="Генные ключи" name="Contact[id_advertising_channel_page]")
					.checking
						input(type="checkbox" id="check" checked).check
						label(for="check").check_label Я согласен с 
							a(href="javascript:void(0);")(data-toggle="modal" data-target="#myPolitics")  условиями обработки персональных данных
							|  по 152 - Ф3
			.col-md-3.col-sm-3
				h4.mail_subtitle или с помощью социальных сетей:
				.mail_soc_buttons
					a.mail_soc_buttons_link.soc_button_vk(href="https://vk.com/app6379730_-96028637#l=25;auto=1" target="_blank")
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  viewBox="0 0 32 32">
							<path d=" M26.712 10.96s-.167-.48-1.21-.348l-3.447.024a.785.785 0 0 0-.455.072s-.204.108-.3.37a22.1 22.1 0 0 1-1.28 2.695c-1.533 2.61-2.156 2.754-2.407 2.587-.587-.372-.43-1.51-.43-2.323 0-2.54.382-3.592-.756-3.868-.37-.084-.646-.144-1.616-.156-1.232-.012-2.274 0-2.86.287-.396.193-.695.624-.515.648.227.036.742.143 1.017.515 0 0 .3.49.347 1.568.13 2.982-.48 3.353-.48 3.353-.466.252-1.28-.167-2.478-2.634 0 0-.694-1.222-1.233-2.563-.097-.25-.288-.383-.288-.383s-.216-.168-.527-.216l-3.28.024c-.504 0-.683.228-.683.228s-.18.19-.012.587c2.562 6.022 5.483 9.04 5.483 9.04s2.67 2.79 5.7 2.597h1.376c.418-.035.634-.263.634-.263s.192-.214.18-.61c-.024-1.843.838-2.12.838-2.12.838-.262 1.915 1.785 3.065 2.575 0 0 .874.6 1.532.467l3.064-.048c1.617-.01.85-1.352.85-1.352-.06-.108-.442-.934-2.286-2.647-1.916-1.784-1.665-1.496.658-4.585 1.413-1.88 1.976-3.03 1.796-3.52z" fill-rule="evenodd"></path>
						</svg>
					a.mail_soc_buttons_link.soc_button_ms(href="https://m.me/1726493250936970?ref=ml14" target="_blank")
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  viewBox="0 0 32 32">
							<path d=" M16 6C9.925 6 5 10.56 5 16.185c0 3.205 1.6 6.065 4.1 7.932V28l3.745-2.056c1 .277 2.058.426 3.155.426 6.075 0 11-4.56 11-10.185C27 10.56 22.075 6 16 6zm1.093 13.716l-2.8-2.988-5.467 2.988 6.013-6.383 2.868 2.988 5.398-2.987-6.013 6.383z" fill-rule="evenodd"></path>
						</svg>