section#main
    .container
        img(src="img/girls_main.png", alt="Анна Ролева и Вероника Юрина")#girls_main
        include ../header
        p.pre Бесплатный 3-х дневный интенсив
        h1.main_title «Механика генных ключей»
        h2.main_subtitle Раскройте код своего Предназначения, денежный и любовный потенциал с помощью вашей уникальной генетической матрицы
        p.main_date с 12 по 14 ноября 
            span 19:00 (по МСК)
        p.main_authors Авторы курса: 
            span Анна Ролева и Вероника Юрина
        .video_wrapper.main_video_wrapper
            iframe(src="https://youtube.com/embed/biOY17sBfXY?rel=0&autoplay=1" allowfullscreen)