section#plan
    .container
        h3.general_title.plan_general_title План интенсива который пройдёт 
            span с 12 по 14 ноября
            | :
    .plan_day.plan_day_1
        .container
            img.plan_day_img.plan_day_img_1(src="img/day_1.png", alt="День 1")
            .plan_day_container
                h4.plan_day_container_title
                    span День 1. 
                    | Последовательность Активации: энергия вашего Предназначения
                ul.plan_day_list
                    li Знакомство с учением о Генных ключах
                    li Пробуждение осознанности в новом измерении реализации
                    li От механике к мистике
                    li Иньский и янский модус достижений
                    li Паттерны жертв
                ul.plan_day_list.plan_day_list_right
                    li 4 основных техники для реализации предназначения
                    li Ваша генетическая матрица: первые 4 ключа
                    li Энергия Предназначения как фундамент для реализации в любви и материальном мире
                    li Стратегии выхода из жертвы
            .clearfix
    .plan_day.plan_day_2
        .container
            img(src="img/day_2.png", alt="День 2").plan_day_img.plan_day_img_2
            .plan_day_container
                h4.plan_day_container_title
                    span День 2. 
                    | Последовательность Венеры: исцеление через Близость
                ul.plan_day_list
                    li Карта реализации вашего любовного потенциала
                    li Исцеление близостью: каких людей мы притягиваем в отношения?
                    li Сексуальная травма
                    li Последовательность Венеры: классический и новый подход
                    li Основные темы вашей любви и сексуальности: пробуждение уникальности
                    li Раскрытие сердца через Генные ключи
                ul.plan_day_list.plan_day_list_right
                    li 55 генный ключ: ворота Духа
                    li 59 генный ключ: от преследования к свободе в отношениях
                    li Сила честности в отношениях
                    li Как проработать сложные и проблемные отношения
                    li Отпуская привязанности
                    li Измены в отношениях
                    li Исцеление старых травм в любви и сексе
                    li Раскрытие потенциала к близости: от секса к сердцу
            .clearfix
    .plan_day.plan_day_3
        .container
            img(src="img/day_3.png", alt="День 3").plan_day_img.plan_day_img_3
            .plan_day_container
                h4.plan_day_container_title
                    span День 3. 
                    | Жемчужная последовательность: реализация Денежного потенциала
                ul.plan_day_list
                    li Основные блоки на пути вашей финансовой реализации
                    li Ваш личный бренд и энергия денег
                    li Денежный поток с позиции Генных ключей
                    li Как разблокировать свой денежный потенциал и реализоваться в материальном мире?
                ul.plan_day_list.plan_day_list_right
                    li Основной код денег по генетической матрице
                    li Как реализация предназначения и раскрытия сердца влияют на количество денег в вашей жизни
                    li Запуск программы на тотальную реализацию в социуме
                    li Жемчужная последовательность: интеграция пути
            .clearfix
            button.button.plan_button(data-toggle="modal" data-target="#myModalForm") Записаться сейчас