section#reveiws
    .container
        h3.general_title.reveiws_general_title
            span Отзывы 
            | учеников
        .owl-carousel.owl-theme#revs_container
            a(href="img/certs/rev_1.jpg" data-fancybox="revs").revs_container_link
                img(src="img/certs/rev_1.jpg", alt="Сертификат 1")
            a(href="img/certs/rev_2.jpg" data-fancybox="revs").revs_container_link
                img(src="img/certs/rev_2.jpg", alt="Сертификат 2")
            a(href="img/certs/rev_3.jpg" data-fancybox="revs").revs_container_link
                img(src="img/certs/rev_3.jpg", alt="Сертификат 3")
        #last
            h3.last_title Начните сейчас это 
                span бесплатно
                | !
            p Десятки учеников доверяют нам и реализуют свои цели
            button.button.button_last(data-toggle="modal" data-target="#myModalForm") Записаться сейчас