#footer
	width 100%
	padding 36px 0 40px
	background-color: #010726
	text-align: center
	h5
		font-size: 24px;
		color: rgb(255, 252, 252);
		line-height: 1.042;
		margin 0
		font-family: 'OpenSansSemibold', sans-serif
	p
	#conditions
		font-size: 14px;
		color: rgba(254, 254, 254, 0.302);
		line-height: 1.786;
	#conditions
		margin 15px 0 0
		text-decoration: underline
.soc_buttons
	width 100%
	margin: 0 auto
	a
		display: inline-block
		margin: 20px 13px
		position relative
		z-index: 1
		border-radius: 50px
		width: 32px;
		height 32px
		background-color: #f43758
		.fa
			width: 32px;
			height: 32px;
			color #fff
			font-size 18px
			line-height 32px
			position relative
			z-index 9
		&:hover
			background-color: #0e3f66