#last
    width 100%
    padding 100px 0
    background-image url(../img/revs_bg.png)
    background-repeat no-repeat
    background-position: center top
    background-size: cover
.last_title
    font-size: 22px;
    font-family: "OpenSansCondensedBold",sans-serif;
    color: rgb(1, 7, 38);
    text-transform: uppercase;
    line-height: 1.1;
    text-align: center;
    margin 0 auto 20px
    width 100%
    max-width 650px
    span
        color #ff395a
.price_last
    font-size: 24px
    font-family: 'OpenSansBold', sans-serif
    text-align: center