#main
	width 100%
	padding 0 0 50px
	background-color: #02102F
	background-image url(../img/main_bg.jpg)
	background-repeat no-repeat
	background-position: center top
	background-size: cover
#header
	padding: 30px 0
	margin-bottom: 20px
	position relative
	z-index: 9
#logo
	width 176px
	float: left
	opacity .6
	box-shadow: 0 0 4px 7px rgba(#000, .72)
.contacts
	float: right
	text-align: right
	line-height  12px
	a
		.fa
			color: #fff
			font-size: 16px
			margin: 0 10px 0  40px
		.fa+span
			line-height: 21px
			font-size: 14px;
			font-family: "Comfortaa", sans-serif;
			color: rgba(#fff, .6)
			text-align: right;
			&:hover
				text-decoration underline
.tel:first-child
	.fa-phone
		margin-left: 0
.pre
	font-family: "OpenSansBold", sans-serif;
	color: rgb(255, 57, 90);
	text-transform: uppercase;
	line-height: 1.493;
	text-align: center
	font-size: 22px
	margin-bottom: 30px
.video_wrapper_main
	max-width 560px
.main_container
	border-radius: 10px;
	background-color #fff
	border: 1px dashed rgba(#061e31, .2)
	padding 20px
	text-align: center
	width 100%
	max-width 560px
	margin 0 auto
.main_title
	font-size: 28px;
	font-family: "OpenSansCondensedBold", sans-serif;
	color: #ff395a
	line-height: 48px
	margin 0 0 15px
	letter-spacing: -0.8px;
	line-height: 1.4
	span
		color: #000
		font-size: 22px
		display: block
		margin-bottom: 0
.price
	font-size: 20px;
	font-family: "OpenSansSemibold", sans-serif;
	margin-bottom: 15px
	span
		text-decoration: line-through
.main_subtitle
	font-size: 20px;
	font-family: "OpenSansBold",sans-serif;
	color: #010726
	line-height: 1.368;
	letter-spacing: -0.4px;
	margin-top: 19px