@media screen and (min-width 2295px)
	.container
		width 1400px
	.contacts a .fa
	.contacts a .fa + span
	.pre
	.button
		font-size: 20px
	.main_title
	.price
		margin-bottom 25px
	.main_title
		font-size: 34px
	.main_subtitle
		margin-top: 30px
	.main_container
		padding 30px
	.second_list
		margin-top: 40px
		li
			font-size: 24px
	.second_title+p
		font-size: 24px
		max-width 800px
	.second_subtitle
	.last_title
		font-size: 26px
		max-width 800px
	.plan_container_text
	.bonuses_list li
		font-size: 24px
	.plan_container
		max-width 580px
	.price_last
		font-size: 30px
	#footer #conditions, #footer p
		font-size: 18px
	.soc_buttons a
		width: 45px
		height 45px
	.soc_buttons a .fa
		width: 45px
		height 45px
		line-height: 45px
		font-size: 23px
@media screen and (max-width 1199px)
	.contacts a .fa
		margin 0 8px 0 14px
	.main_container
		padding 10px
	.second_list
		margin-top: 40px
@media screen and (max-width 991px)
	#header
		margin-bottom: 0
	#logo
		display block
		float: none
		margin: 0 auto 10px
	.contacts
		text-align: center
		float: none
		a
			display inline-block
	.video_wrapper_main
		margin-bottom: 20px
	#second_img
		width: 200px
		margin-top: 60px
	.second_list
		padding-left: 230px
		margin-top: 0
	#plan_img
		width: 230px
@media screen and (max-width 767px)
	#main
		padding-bottom: 30px
		background-position: center left
	#second
	#plan
		padding 30px 0
	#second_img
		display block
		float none
		margin 0 auto 40px
	.second_list
		padding-left: 20px
	#plan_img
		width: 200px
		display block
		float none
		margin 0 auto 40px
		position: static
	.plan_container
		max-width 495px
		margin 0 auto 20px
	.plan_subtitle
		margin: 30px 0 20px
		text-align: center
	.bonuses_list
		max-width 495px
		margin 0 auto
		padding-left: 25px
	#last
		padding: 60px 0
	#footer
		padding: 20px 0
	#footer h5
		margin-bottom: 20px
	.soc_buttons a
		margin 0 8px 10px
	.plan_container_title
		display block
	.plan_container_text
		line-height: 1.2
		width: 100%
	.general_title
		margin-bottom: 30px
@media screen and (max-width 481px)
	#header
		padding 15px 0
	#logo
		width: 160px
	.contacts a .fa
	.contacts a .fa + span
	#footer #conditions, #footer p
		font-size: 12px
	.pre
	#footer h5
		margin-bottom: 10px
		font-size: 20px
	.second_list
		padding-left: 0
		li
			font-size: 18px
			margin-bottom: 10px
	.second_title
		font-size: 26px
		margin-top: 30px
	.general_title
		font-size: 24px
	.plan_container_text
	.main_subtitle
		font-size: 18px
	.bonuses_list li
		font-size: 18px
		margin-bottom: 10px
@media screen and (max-width 380px)
	.pre
	.price
		font-size: 18px
		line-height: 1.2
	.main_title
		font-size: 24px
		line-height: 1.2
	.main_subtitle
		margin-top: 10px
		font-size: 16px
	#second_img
		margin-bottom: 20px
	#last
		padding: 30px 0