#second
	width 100%
	padding 60px 0
	.container
		position relative 
#second_img
	float left
	margin-left: 25px
.second_list
	// float left
	padding-left: 390px
	margin-top: 70px
	li
		list-style: none
		font-size: 20px
		color: rgb(1, 7, 38);
		line-height: 1.375;
		margin-bottom: 20px
		padding-left: 15px
		position relative
		&:before
			content: ''
			display block
			width 10px
			height 10px
			background-color: transparent
			border-radius: 50px
			border 2px solid #ff0f47
			position: absolute
			top 10px
			left -2px
.second_title 
	font-size: 32px;
	font-family: "OpenSansCondensedBold",sans-serif;
	text-transform: uppercase;
	line-height: 1.1;
	text-align: center;
	margin 40px 0 5px
	color #ff395a
	&+p
		font-size: 18px;
		color: rgb(1, 7, 38);
		line-height: 1.405;
		text-align: center;
		margin 10px auto 30px
		width 100%
		max-width 650px
.second_subtitle
	font-size: 22px;
	font-family: "OpenSansCondensedBold",sans-serif;
	color: rgb(1, 7, 38);
	text-transform: uppercase;
	line-height: 1.1;
	text-align: center;
	margin 0 auto 30px
	width 100%
	max-width 650px
	span
		color #ff395a