#after
	width 100%
	padding 88px 0 117px
	background-color: #04051B
	background-image url(../img/after_bg.jpg)
	background-repeat no-repeat
	background-position: center
	background-size: cover
.after_general_title 
	color: #fff
	margin-bottom: 79px;
.after_container
	width 100%
	max-width 254px
	margin 0 auto 42px
	text-align: center
.after_container_img
	border-radius: 50px;
	position relative
	width 79px
	height 79px
	margin 0 auto 17px
	background-image url(../img/after_icons.png)
	background-repeat no-repeat
	background-position 0 0
	span 
		position: absolute
		font-size: 24px;
		font-family: "OpenSansCondensedBold",sans-serif;
		color: rgb(244, 55, 88);
		text-transform: uppercase;
		line-height: 1;
		text-align: center;
		top -11px
		right -14px
.after_container_img_2
	background-position -79px 0
.after_container_img_3
	background-position -158px 0
.after_container_img_4
	background-position -237px 0
.after_container_img_5
	background-position -316px 0
.after_container_img_6
	background-position -395px 0
.after_container_img_7
	background-position -474px 0
.after_container_img_8
	background-position -553px 0
.after_container_img_9
	background-position -632px 0
.after_container_img_10
	background-position -711px 0
.after_cntainer_text 
	font-size: 18px;
	color: rgb(255, 255, 255);
	line-height: 1.327;
.after_subtitle
	font-size: 27px;
	font-family: "OpenSansCondensedBold", sans-serif;
	color: rgb(255, 255, 255);
	text-align: center
	margin 46px 0 31px
	text-transform: uppercase
	span
		color #f43758