#authors
	width 100%
	padding 89px 0 60px
	background-color: #000618
	background-image url(../img/authors_bg.jpg)
	background-repeat no-repeat
	background-position: center top
	background-size: cover
	overflow hidden
.authors_general_title
	color #fff
	margin-bottom: 70px
.treners_img
	position relative   
#girls_about
	position: absolute
	display block
	top: -63px;
	left: -87px;
.trener_title
	font-size: 24px;
	font-family: "OpenSansCondensedBold", sans-serif;
	color: rgb(244, 55, 88);
	line-height: 1.3
	margin 0
.trener_yureva
	width 100%
	max-width 459px
	margin-bottom: 32px
.roleva
	margin-left: 127px
.trener_subtitle
	font-size: 18px;
	font-family: "OpenSansLight", sans-serif;
	color: rgba(255, 255, 255, 0.502);
	line-height: 1.327;
	text-align: left;
	margin: 2px 0 25px
.trener_list
	li
		list-style none
		font-family: "OpenSansLight", sans-serif;
		color: rgb(255, 255, 255);
		line-height: 1.243;
		margin-bottom: 11px
		padding-left: 15px
		position relative
		&:before
			content: ''
			display block
			width 7px
			height 7px
			background-color: transparent
			border-radius: 50px
			border 2px solid #ff0f47
			position: absolute
			top 7px
			left -2px
		&:last-child
			margin-bottom: 0
#certs
	width 100%
	background-color: #ff395a
	padding 14px 0 15px
.certs_container
	width 100%
	max-width 605px
	margin 0 auto
	text-align: center
.partner_button
	max-width 332px
	background-color: rgb(6, 30, 49);
	margin-top: 31px;
	&:hover
		background-color: #0e3f66