#for
	padding:  97px 0 116px
	.container
		position relative
.for_general_title
	margin-bottom: 71px
#for_img
	position: absolute
	display: block
	margin 0 auto
	top 165px
	left 0
	right 0
.for_container
	width 100%
	max-width 256px
	margin-bottom: 32px
.for_container_title
	width: 44px
	height 44px
	background-color: #fff
	border-radius: 50px
	position relative
	display inline-block
	span
		position: absolute
		font-size: 34px;
		font-family: "OpenSansCondensedBold", sans-serif;
		color: rgb(255, 57, 90);
		text-transform: uppercase;
		line-height: 1
		top 0
		left -6px
.for_container_text
	font-size: 18px
	color: rgb(1, 7, 38);
	line-height: 1.327;
	span
		font-family: "OpenSansSemibold", sans-serif;
.for_container_1
.for_container_2
.for_container_3
.for_container_4
.for_container_5
	float: right
	text-align: right
	.for_container_title span
		left auto
		right -6px
.for_container_1
.for_container_4
	margin-right: 67px
.for_container_6
.for_container_9
	margin-left: 67px
.for_container_2
.for_container_3
	margin-right: 97px
.for_container_7
.for_container_8
	margin-left: 97px
.for_container_5
.for_container_10
	margin-bottom: 0