#main
	width 100%
	padding 0 0 46px
	background-color: #02102F
	background-image url(../img/main_bg.jpg)
	background-repeat no-repeat
	background-position: center top
	background-size: cover
	overflow hidden
	.container
		position relative
#header
	padding: 30px 0
	margin-bottom: 52px
	position relative
	z-index: 9
#logo
	width 176px
	float: left
	opacity .6
	box-shadow: 0 0 4px 7px rgba(#000, .72)
.contacts
	float: right
	text-align: right
	line-height  12px
	a
		.fa
			color: #fff
			font-size: 16px
			margin: 0 10px 0  40px
		.fa+span
			line-height: 21px
			font-size: 14px;
			font-family: "Comfortaa", sans-serif;
			color: rgba(#fff, .6)
			text-align: right;
			&:hover
				text-decoration underline
.tel:first-child
	.fa-phone
		margin-left: 0
#girls_main
	position: absolute
	bottom: -47px
	right -71px
	z-index 0
.pre
	font-family: "OpenSansBold", sans-serif;
	color: rgb(255, 57, 90);
	text-transform: uppercase;
	line-height: 1.493;
	position relative
	z-index: 9
	margin-bottom: 21px
.main_title
	font-size: 45px;
	font-family: "OpenSansCondensedBold", sans-serif;
	color: rgb(255, 255, 255);
	line-height: 48px
	border-bottom: 3px dashed
	letter-spacing: -0.8px;
	position relative
	z-index: 9
	display: inline
.main_subtitle
	font-size: 19px;
	font-family: "OpenSansLight",sans-serif;
	color: rgb(255, 255, 255);
	line-height: 1.368;
	width 100%
	max-width: 592px;
	letter-spacing: -0.4px;
	position relative
	z-index: 9
	padding-top: 20px
.main_date
	margin 20px 0 0
	font-size: 30px;
	font-family: "OpenSansCondensedBold", sans-serif;
	color #ff395a
	position relative
	z-index: 9
	span
		color #fff
		font-family: "OpenSansCondensedLight", sans-serif;
.main_authors
	font-size: 20px;
	font-family: "OpenSansCondensedLight", sans-serif;
	color: rgb(255, 255, 255);
	line-height: 1.195;
	margin-bottom: 38px
	position relative
	z-index: 9
	span
		display: inline-block
.main_video_wrapper
	max-width 390px
	margin: 0
	position relative
	z-index: 9