#plan
	width 100%
	padding 119px 0 15px
	.container
		position relative
.plan_general_title
	margin-bottom: 93px
.plan_day_1
	padding 0 0 82px
.plan_day_img
	position: absolute
	top: 30px;
	left 0
.plan_day_container
	float left
	margin-left:  378px
.plan_day_container_title
	font-size: 24px;
	font-family: "OpenSansCondensedBold", sans-serif;
	color: #010726
	line-height: 1.3
	margin-bottom: 34px
	span
		color: rgb(244, 55, 88);
		text-transform: uppercase
.plan_day_list
	float left
	list-style none
	width: 320px
	margin-right: 72px
	li
		color: rgb(1, 7, 38);
		line-height: 1.375;
		margin-bottom: 10px
		padding-left: 15px
		position relative
		&:before
			content: ''
			display block
			width 7px
			height 7px
			background-color: transparent
			border-radius: 50px
			border 2px solid #ff0f47
			position: absolute
			top 7px
			left -2px
		&:last-child
			margin-bottom: 0
.plan_day_list_right
	float: right
	width: 370px
	margin-right: 0
.plan_day.plan_day_2
	padding 34px 0 59px
	position relative
	&:before
	&:after
		content ''
		width: 100%
		height 1px
		background-image url(../img/divider_white.png)
		display block
		left 0
		right 0
		position: absolute
	&:before
		top 0
	&:after
		bottom: 0
.plan_day_3
	padding 53px 0 74px
.plan_day_img_1
	top: -13px;
	left: 18px;
.plan_day_img_2
	top: 39px;
	left: 20px;
.plan_day_img_3
	top: -12px;
	left: 6px;
.plan_button
	margin-top: 95px