#videos
	width 100%
	padding 60px 0
	background-image url(../img/revs_bg.png)
	background-repeat no-repeat
	background-position: center bottom
	background-size: cover
.video_tabs
	width 100%
	max-width 560px
	margin 0 auto 25px
.video_tabs_buttons
	text-align: center
	margin-bottom: 25px
	li
		background-color: rgba(#ff0f47, .5)
		text-align: center
		display inline-block
		padding 10px 20px
		color: #fff
		font-family: 'OpenSansBold', sans-serif
		cursor: pointer
		border-radius: 10px
		&:nth-child(2)
			margin 0 10px
		&:hover
		&.active
			background-color: #ff0f47
.video_container
	background-color #fff
	padding: 20px
	border-radius: 10px
	box-shadow: 0 0 5px rgba(0,0,0,.15)
.video_tabs_day_title
	font-size: 20px;
	font-family: 'OpenSansSemibold', sans-serif
	text-align: center
	margin-bottom: 10px
.day_video_wrapper
	margin-bottom: 20px
.video_tabs_day_text
	font-size: 18px
	font-family: 'OpenSans',sans-serif
	margin-bottom: 10px
	&:last-child
		margin-bottom: 0
.buy_recs
	font-family: 'OpenSansSemibold', sans-serif
	font-size: 24px
	text-align: center
	color #000
.buy_recs_button
	margin 15px auto 60px
#vk
#fb
	border-radius: 10px
	background-color #fff