section#description
    .container
        p.desription_text Генные Ключи - это новая книга кодов сознания. Это 64 основных генетических архетипа, которые могут меняться в зависимости от частоты нашего Сознания. Чтобы применить их к своей жизни, вам потребуется узнать, что это за коды и каким образом они применимы именно к вам
        p.desription_text Карта Хологенетического профиля отображает ваше предназначение, ваши взаимоотношения и благосостояние. Это карта содержит информацию о вашей СУДЬБЕ
section#hg_card
    .container
        img(src="../img/hg_card.jpg", alt="Карта Хологенетического профиля")#hg_card_img
        a.button.ht_card_button(href="https://teachings.genekeys.com/free-profile/" target="_blank") Расчет карты