footer#footer
	.container
		.soc_buttons
			h5 Хотите узнать больше? Вступайте в наши группы!
			a(href="https://www.facebook.com/Mastervision1C/" target="_blank")
				i(class="fa fa-facebook" aria-hidden="true")
			a(href="http://vk.com/mv_ezoterika" target="_blank")
				i(class="fa fa-vk" aria-hidden="true")
			a(href="https://twitter.com/MastervisionEzo" target="_blank")
				i(class="fa fa-twitter" aria-hidden="true")
			a(href="https://www.instagram.com/mastervision1/" target="_blank")
				i(class="fa fa-instagram" aria-hidden="true")
			a(href="https://ok.ru/mv.ezoterika" target="_blank")
				i(class="fa fa-odnoklassniki" aria-hidden="true")
			a(href="https://www.youtube.com/channel/UCiJTdt19jRMRmYyCZac2Lvg/" target="_blank")
				i(class="fa fa-youtube" aria-hidden="true")
			.clfix
		p ИП Кудряшов Александр Анатольевич, Тюмень, проезд Летний, 9а, ИНН 720410077658, ОГРН 315723200065100
		a#conditions(href="http://mastervision.su/oferta.docx") Условия возврата денежных средств
.modal.fade(tabindex="-1" role="dialog")#modalModule_1
	.modal-dialog.recs_modal-dialog(role="document")
		.modal-content.recs_modal-content
			.modal-wrapper
				button(type="button" class="close module_close" data-dismiss="modal" aria-label="Close")
					span(aria-hidden="true") &times;
				.modal-body
					h4.modal_title 11 занятий
					ul.modal_body_list
						li 1 урок - Ваше дело Жизни/Бренд
						li 2 урок - Ваша Эволюция
						li 3 урок - Ваше Сияние
						li 4 урок - Ваша Цель
						li 5 урок - Ваше Поле Привлечения
						li 6 урок - Ваш Генетический склад ума
						li 7 урок - Ваш Эмоциональный разум
						li 8 урок - Ваш духовный разум
						li 9 урок - Ваша Генетическая травма/Призвание
						li 10 урок - Ваш социальный рост
						li 11 урок - Ваша Жемчужина (процветание)