section#modules
    .container
        p.modules_pre Хологенетический Профиль состоит из трех последовательностей, трех цепочек, соответствующих трем темам: предназначение, отношения и процветание
        h3.general_title.modules_general_title Модули курса 
            small (10 уроков по 3 часа)
        .module.module_1
            img.module_img.module_img_1(src="../img/day_1.png", alt="Модуль 1")
            .module_container
                h4.module_container_title
                    span Модуль 1. 
                    | Последовательность Активации, энергия Предназначения
                p.module_container_text Последовательность Активации – активация основных даров, раскрытие вашей уникальной гениальности. Четыре основных свойства, которые вы пришли раскрыть в этой жизни и на частоте дара проявить во внешнем мире, ваше предназначение
            .clearfix
    .module_2
        .container
            .module
                img(src="../img/day_2.png", alt="Модуль 2").module_img.module_img_2
                .module_container
                    h4.module_container_title
                        span Модуль 2. 
                        | Последовательность Венеры – раскрытие сердца через взаимоотношения
                    p.module_container_text Наши "кармические" уроки закладываются в генах еще в период внутриутробного развития и задача текущего воплощения - обнаружить их, чтобы трансформировать в дары. Наши самые сильные страхи и блоки в сфере взаимоотношений скрывают наш потенциал, сдерживая его от проявления во внешнем мире. Это ваш персональный закон обретения любви и личного счастья
                .clearfix
    .container
        .module.module_3
            img(src="../img/day_3.png", alt="Модуль 3").module_img.module_img_3
            .module_container
                h4.module_container_title
                    span Модуль 3. 
                    | Жемчужная последовательность – путь к процветанию в материальном мире
                p.module_container_text Тени здесь - это все то что нам мешает найти свое место в обществе, быть благополучными и состоятельными\ состоявшимися
            .clearfix