@font-face {
	font-family: 'Comfortaa';
	src: url('../fonts/Comfortaa.eot');
	src: url('../fonts/Comfortaa.eot') format('embedded-opentype'),
		 url('../fonts/Comfortaa.woff2') format('woff2'),
		 url('../fonts/Comfortaa.woff') format('woff'),
		 url('../fonts/Comfortaa.ttf') format('truetype'),
		 url('../fonts/Comfortaa.svg#Comfortaa') format('svg');
}
@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans.eot');
	src: url('../fonts/OpenSans.eot') format('embedded-opentype'),
		 url('../fonts/OpenSans.woff2') format('woff2'),
		 url('../fonts/OpenSans.woff') format('woff'),
		 url('../fonts/OpenSans.ttf') format('truetype'),
		 url('../fonts/OpenSans.svg#OpenSans') format('svg');
}
@font-face {
	font-family: 'OpenSansBold';
	src: url('../fonts/OpenSansBold.eot');
	src: url('../fonts/OpenSansBold.eot') format('embedded-opentype'),
		 url('../fonts/OpenSansBold.woff2') format('woff2'),
		 url('../fonts/OpenSansBold.woff') format('woff'),
		 url('../fonts/OpenSansBold.ttf') format('truetype'),
		 url('../fonts/OpenSansBold.svg#OpenSansBold') format('svg');
}
@font-face {
	font-family: 'OpenSansCondensedBold';
	src: url('../fonts/OpenSansCondensedBold.eot');
	src: url('../fonts/OpenSansCondensedBold.eot') format('embedded-opentype'),
		 url('../fonts/OpenSansCondensedBold.woff2') format('woff2'),
		 url('../fonts/OpenSansCondensedBold.woff') format('woff'),
		 url('../fonts/OpenSansCondensedBold.ttf') format('truetype'),
		 url('../fonts/OpenSansCondensedBold.svg#OpenSansCondensedBold') format('svg');
}
@font-face {
	font-family: 'OpenSansCondensedLight';
	src: url('../fonts/OpenSansCondensedLight.eot');
	src: url('../fonts/OpenSansCondensedLight.eot') format('embedded-opentype'),
		 url('../fonts/OpenSansCondensedLight.woff2') format('woff2'),
		 url('../fonts/OpenSansCondensedLight.woff') format('woff'),
		 url('../fonts/OpenSansCondensedLight.ttf') format('truetype'),
		 url('../fonts/OpenSansCondensedLight.svg#OpenSansCondensedLight') format('svg');
}
@font-face {
	font-family: 'OpenSansLight';
	src: url('../fonts/OpenSansLight.eot');
	src: url('../fonts/OpenSansLight.eot') format('embedded-opentype'),
		 url('../fonts/OpenSansLight.woff2') format('woff2'),
		 url('../fonts/OpenSansLight.woff') format('woff'),
		 url('../fonts/OpenSansLight.ttf') format('truetype'),
		 url('../fonts/OpenSansLight.svg#OpenSansLight') format('svg');
}
@font-face {
	font-family: 'OpenSansSemibold';
	src: url('../fonts/OpenSansSemibold.eot');
	src: url('../fonts/OpenSansSemibold.eot') format('embedded-opentype'),
		 url('../fonts/OpenSansSemibold.woff2') format('woff2'),
		 url('../fonts/OpenSansSemibold.woff') format('woff'),
		 url('../fonts/OpenSansSemibold.ttf') format('truetype'),
		 url('../fonts/OpenSansSemibold.svg#OpenSansSemibold') format('svg');
}
*
	margin 0
	padding 0
	outline none
body
	background-color: #F5F3F3
	font-size: 16px
	font-family: 'OpenSans', sans-serif
a
	color: #fefefe
	&:focus
		outline: 0
	&:hover
		text-decoration none
button
	border none
.video_wrapper
	margin 0 auto
	position relative
	&:before
		content ''
		height 0
		padding-top 56.25%
		display block
	&:after
		content: ''
		display block
		position: absolute
		top: 0
		left 0
		right 0
		width: 100%
		height 70px
	img,
	iframe
		position absolute
		width 100%
		height 100%
		display block
		background-color #000
		border-radius 3px
		border: 0
		top 0
		left 0
		right 0
		bottom 0
		cursor pointer
.button
	display: block
	width 100%
	max-width 332px
	background-color: rgb(244, 55, 88);
	height: 55px;
	line-height: 55px;
	font-family: "OpenSansCondensedBold", sans-serif;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	text-align: center;
	margin 0 auto
	border-radius: 27.5px
	&:focus
		text-decoration: none
		color: rgb(255, 255, 255);
	&:hover
		background-color: #fc607b
		text-decoration: none
		color: rgb(255, 255, 255);
h1,h2,h3,h4,h5,h6
	font-weight: normal
#main
	width 100%
	padding 0 0 46px
	background-color: #02102F
	background-image url(../img/main_bg.jpg)
	background-repeat no-repeat
	background-position: center top
	background-size: cover
	.container
		position relative
#header
	padding: 30px 0
	margin-bottom: 20px
	position relative
	z-index: 9
#logo
	width 176px
	float: left
	opacity .6
	box-shadow: 0 0 4px 7px rgba(#000, .72)
.contacts
	float: right
	text-align: right
	line-height  12px
	a
		.fa
			color: #fff
			font-size: 16px
			margin: 0 10px 0  40px
		.fa+span
			line-height: 21px
			font-size: 14px;
			font-family: "Comfortaa", sans-serif;
			color: rgba(#fff, .6)
			text-align: right;
			&:hover
				text-decoration underline
.tel:first-child
	.fa-phone
		margin-left: 0
.pre
	font-family: "OpenSansBold", sans-serif;
	color: rgb(255, 57, 90);
	text-transform: uppercase;
	line-height: 1.493;
	position relative
	z-index: 9
	margin-bottom: 10px
.main_title
	display: inline
	font-size: 45px;
	font-family: "OpenSansCondensedBold", sans-serif;
	color: rgb(255, 255, 255);
	line-height: 48px
	border-bottom: 3px dashed
	letter-spacing: -0.8px;
	position relative
	z-index: 9
.main_date
	padding-top: 15px
	margin 0 0 20px
	font-size: 30px;
	font-family: "OpenSansCondensedBold", sans-serif;
	color #ff395a
	position relative
	z-index: 9
	span
		color #fff
		font-family: "OpenSansCondensedLight", sans-serif;
.main_video_wrapper
	max-width 560px
	position relative
	z-index: 9
	margin:0 0 25px
.button_main
	margin-left: 0
.general_title
	font-size: 34px;
	font-family: "OpenSansCondensedBold", sans-serif;
	color: rgb(1, 7, 38);
	text-transform: uppercase;
	line-height: 1.3;
	text-align: center;
	margin-bottom: 85px
	span
		color #f43758
#bonus_feedback
	padding: 60px 0
	min-height calc(100vh - 850px)
#vk
#fb
	border-radius: 10px;
	background-color #fff
	border: 1px dashed rgba(#061e31, .2)
#footer
	width 100%
	padding 36px 0 40px
	background-color: #010726
	text-align: center
	h5
		font-size: 24px;
		color: rgb(255, 252, 252);
		line-height: 1.042;
		margin 0
		font-family: 'OpenSansSemibold', sans-serif
	p
	#conditions
		font-size: 14px;
		color: rgba(254, 254, 254, 0.302);
		line-height: 1.786;
	#conditions
		margin 15px 0 0
		text-decoration: underline
.soc_buttons
	width 100%
	margin: 0 auto
	a
		display: inline-block
		margin: 20px 13px
		position relative
		z-index: 1
		border-radius: 50px
		width: 32px;
		height 32px
		background-color: #f43758
		.fa
			width: 32px;
			height: 32px;
			color #fff
			font-size 18px
			line-height 32px
			position relative
			z-index 9
		&:hover
			background-color: #0e3f66
.flip-clock-wrapper
	width 100%
	max-width 360px
	margin: 40px auto 20px
	font-size: 13px
.flip-clock-wrapper ul
	height 50px
	margin 3px
.flip-clock-wrapper ul li
	line-height: 50px
.flip-clock-wrapper ul li a div.up::after
	top 24px
.flip-clock-wrapper ul li a div div.inn
	font-size: 40px
	background-color: #f43758
.flip-clock-divider
	height 50px
.flip-clock-dot
	background-color: #f43758
	width 7px
	height 7px
	left 3px
.flip-clock-dot.top
	top 31px
.flip-clock-dot.bottom
	bottom: 27px
.flip-clock-divider .flip-clock-label
	color #f43758
	right: -58px
.flip-clock-divider.hours .flip-clock-label
	right  -63px
.flip-clock-divider.minutes .flip-clock-label
.flip-clock-divider.seconds .flip-clock-label
	color #f43758
	right: -65px
.alert-danger
	color: #a94442;
	background-color: #f2dede;
	padding: 10px;
	border: 1px solid #ebccd1;
	border-radius: 4px;
	font-size: 20px;
	text-align: center
	width 100%
	max-width 480px
	margin 0 auto 15px
#home-task 
	#main
		text-align: center
		overflow hidden
		min-height 1px
		position relative
		&:before
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba(0,0,0,.86);
			z-index 0
	#bonus_feedback
		min-height calc(100vh - 620px)
.ht_pre	
	margin-bottom: 0
.ht_main_date
	margin: 0 0 10px
	padding-top: 0
.ht_main_title
	font-size: 30px;
	font-family: "OpenSansCondensedBold", sans-serif;
	color: rgb(255, 255, 255);
	line-height: 32px
	letter-spacing: -0.8px;
	width 100%
	max-width 780px
	margin: 20px auto 25px
.ht_main_title_3
	max-width 850px
.task
	font-family: 'OpenSans', sans-serif;
	font-size: 20px
	width 100%
	max-width 850px
	margin 0 auto
	color #fff
.bonus_feedback_aftertitle
	margin-top: 35px
	text-align: center
	font-size: 26px
	font-family: 'OpenSansSemibold';
	span
		color #f43758
.ht_button_last
	margin-top: 30px
.remind
	font-family: "OpenSansBold", sans-serif
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	font-size: 20px
	font-family: 'Comfortaa', sans-serif
@media screen and (min-width 2295px)
	.container
		width 1400px
	.contacts a .fa
	.contacts a .fa + span
	.pre
	.button
		font-size: 20px
	.pre
		margin-bottom: 20px
	.main_date
		padding-top: 35px
		margin-bottom: 30px
	.main_video_wrapper
		max-width 700px
	#footer #conditions, #footer p
		font-size: 18px
	.soc_buttons a
		width: 45px
		height 45px
	.soc_buttons a .fa
		width: 45px
		height 45px
		line-height: 45px
		font-size: 23px
	#bonus_feedback
		min-height 1px
	.ht_pre
		margin-bottom: 0
	.ht_main_date
		padding-top: 0
	.task
		font-size: 24px
		max-width 950px
	#home-task
		#main
			padding-bottom: 90px
	#bonus_feedback
		padding 90px 0
	.alert-danger
		font-size: 24px
@media screen and (max-width 1199px)
	.contacts a .fa
		margin 0 8px 0 14px
@media screen and (max-width 991px)
	#header
		margin-bottom: 0
	#logo
		display block
		float: none
		margin 0 auto 5px
	.contacts
		float: none
		text-align: center
		a
			display: inline-block
@media screen and (max-width 767px)
	#main
		text-align: center
		background-position: center left
		padding-bottom: 30px
	#header
		padding: 15px 0
		margin-bottom: 10px
	.main_video_wrapper
		margin 0 auto 25px
	.button
		margin 0 auto
	#bonus_feedback
		padding 30px 0
	.general_title
	#vk
		margin-bottom: 30px
	#footer
		padding 20px 0
	#footer h5
		margin-bottom: 20px
	.soc_buttons a
		margin 0 8px 15px
	.ht_button_last
		margin-top: 20px
	.bonus_feedback_aftertitle
	.flip-clock-wrapper
		margin-top: 25px
@media screen and (max-width 481px)
	#header
		margin-bottom: 0
	#logo
		width: 170px
	.contacts a .fa
	.contacts a .fa + span
	#footer #conditions, #footer p
		font-size: 12px
	.main_title
		font-size: 34px
	.main_date
	.general_title
		font-size: 26px
	#footer h5
		font-size: 20px
	.flip-clock-wrapper
		margin 15px auto 0
		max-width 260px
		font-size: 10px
	.flip-clock-wrapper ul li a div div.inn
		font-size: 27px
	.flip-clock-wrapper ul li
		line-height: 33px
	.flip-clock-wrapper ul
		height 33px
	.flip-clock-dot
		width: 5px;
		height: 5px;
		left: 1px;
	.flip-clock-wrapper ul li a div.up::after
		top 16px
	.flip-clock-dot.top
		top 22px
	.flip-clock-dot.bottom
		bottom: 33px
	.flip-clock-divider .flip-clock-label
		right: -43px;
	.flip-clock-divider.hours .flip-clock-label
		right -46px
	.flip-clock-divider.minutes .flip-clock-label, .flip-clock-divider.seconds .flip-clock-label
		right -49px
	.ht_main_date
		font-size: 24px
		margin 10px 0 15px
	.remind
	.task
		font-size: 18px
	.ht_main_title
		font-size: 26px
		margin 10px 0 15px
	.bonus_feedback_aftertitle
		font-size: 22px
		margin-top: 15px
@media screen and (max-width 380px)
	.main_title
		font-size: 28px
		line-height: 28px
	.main_date
	.general_title
		font-size: 22px
	#vk
		margin-bottom: 15px
	.remind
		font-size: 16px
	.ht_main_title
		font-size: 24px
	.bonus_feedback_aftertitle
	.alert-danger
		font-size: 18px